
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Variaveis css*/
:root {
    --color-primary-1: #f0f8f0;
        --color-primary-2: #e6eed6;
            --color-primary-3: #c3d9af;
            --color-primary-4: rgb(144, 238 ,144);
            --color-primary-5: #32cd32;
            --color-primary-6: #228b22;

            --color-neutral-0:#ffff;
            -colneutral-1: #333;
    }

